{
  "presets": [
    ["@babel/preset-env", {
      "exclude": [
        "transform-classes"
      ]
    }]
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "ignore": [
    "node_modules/objection"
  ]
}